body {
	background-color: #ECE8DD;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
	text-align: center !important;
}

h1 {
	font-size: 2.5rem;
	margin: 0;
	padding: 2.5% 2.5% 2.5% 1%;
	text-align: center;
}

.header {
	background-color: #579BB1;
	color: #F8F4EA;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-icon {
	float: left;
}

#topnav {
	background-color: #E1D7C6 !important;
	text-align: center;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}

.menu > li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
	
}

.menu > li:first-child
{
	border-left: 1px dashed #0a2b42;
}

.menu a {
	color: #579BB1;
	text-decoration: none;
}

.menu a:hover {
	color: #F8F4EA !important;
}

.main-image {
	width: 25rem;
	margin-right: 50px;
}

#container {
	padding: 50px;
	margin: 80px 15% 5% 15%;
}

.cytat {
	color: #579BB1;
	text-align: justify;
}

.powitanie {
	padding-top: 50px;
}

#auto {
	height: 800px;
}

#container2
{
	width: 450px;
	padding: 10px;
	margin-top: 10px;
	float: left;
	margin-left: 25%;
}

#addIncome
{
	width: 450px;
	padding: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#wrapper
{
 float: right;
 margin-right: 25%;
 margin-top: 10px;
 padding: 10px;
 width: 300px;
 height: 54.5%;
}

#limitInfo, #limitValue, #cashLeft
{
	color: #579BB1;
	border: 1px solid  #579BB1;
	border-radius: 10px;
	box-sizing: border-box;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 50%;
}

#wydatek
{
	width: 100%;
	background-color: #579BB1;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

#przychód
{
	width: 100%;
	background-color: #579BB1;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

button
{
	width: 100px;
	background-color: #579BB1;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

button:hover
{
	background-color: #046383;
}

#buttonEditCategory
{
	width: 50px;
	font-size: 15px;
}

#button1
{
	margin-left: 110px;
}

#button2
{
	margin-right: 110px;
}

#button2anuluj
{
	text-decoration: none;
	color: white;
}

#button1:hover {
	background-color: #0ab044;
}

#button2:hover {
	background-color: #b00a0a;
}

#komentarz
{
	width: 80%;
}

#bilans
{
	text-align: center;
	width: 300px;
	background-color: #579BB1;
	color: white;
	border: 2px solid #579BB1;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.bilansprzychodow
{
	background-color: #579BB1;
	color: #F8F4EA;
	float: left;
	width: 25%;
	margin-left: 20%;
	margin-bottom: 20px;

}

.bilanswydatkow
{
	background-color: #579BB1;
	color: #F8F4EA;
	float: right;
	width: 25%;
	margin-right: 20%;
	margin-bottom: 20px;

}

.bilans
{
	background-color: #579BB1;
	color: #F8F4EA;
	width: 60%;
	clear: both;
	margin: auto;
}

div#piechart
{
    margin-left: auto;
	margin-right: auto;
    width: fit-content;
    position: relative;
}

#pieChartTitle
{
	color: #579BB1;
}

input[type=submit]
{
	width: 300px;
	background-color: #579BB1;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover
{
	background-color: #046383;
}

#container3
{
	width: 300px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.logowanie {
	display: inline-block;
}

#formSignup {
	display: inline-block !important;
}

#formResetPassword {
	display: inline-block !important;
}

#formPassword {
	display: inline-block;
}

#formProfile{
	display: inline-block;
}

.my-budget {
	color: #F8F4EA;
	text-decoration: none;
}

@media (max-width: 1028px) {
    .cytat {
		padding-top: 50px;
	}

	.main-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	#container2
	{
		width: 35%;
		padding: 10px;
		margin-top: 10px;
		float: left;
		margin-left: 100px;
	}

	#wrapper
	{
	float: right;
	margin-right: 100px;
	margin-top: 10px;
	padding: 10px;
	width: 35%;
	}

	#limitInfo, #limitValue, #cashLeft
	{
		border: 1px solid  #579BB1;
		border-radius: 10px;
		box-sizing: border-box;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#button1
	{
		margin-left: 50px;
	}

	#button2
	{
		margin-right: 50px;
	}
}

#flash-message {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	padding: 10px 20px;
  }

#container4
{
	width: 60%;
	background-color: #579BB1;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto;
		
}

#container4 a {
    color: white;
}
  
#editIncomeCategory, #editExpenseCategory
{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	background-color: #579BB1;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto; 

}

#editIncomeCategory a, #editExpenseCategory a
{
	color: white;
	font-size: 15px;
	letter-spacing: 2px;

}

#editIncomeCategory p, #editExpenseCategory p
{
    text-align: left;
	margin-left: 50px;
	
}

#paymentMethods
{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	background-color: #579BB1;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto; 
}

#paymentMethods a
{
	color: white;
	font-size: 15px;
	letter-spacing: 2px;

}

#paymentMethods p {
    text-align: left;
	margin-left: 50px;
	
}

.active-link 
{
	color: #F8F4EA !important;
	text-decoration: none;
}
