<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Menu główne{% endblock %}</title>
    <meta name="description" content="Menu główne w aplikacji do prowadzenia budżetu osobistego " />
	<meta name="keywords" content="menu, budżet osobisty, użytkownik" />
	<meta http-equiv="X_UA_Compatible" content="IE=edge,chrome=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://kit.fontawesome.com/26d8768c67.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

    <header>
		<div class="header">
			<i class="main-icon fa-solid fa-sack-dollar fa-2x"></i>
			<h1>MyBudget</h1>
			<div style="clear: both;"></div>
		</div>
	</header>

	<nav id="topnav">
		<ul class="menu">
			<li><a href="/home"><i class="fa-solid fa-house"></i>   Strona główna</a></li>
			<li><a href="#"><i class="fa-solid fa-hand-holding-dollar"></i>   Dodaj przychód</a></li>
			<li><a href="/expenses/add"><i class="fa-solid fa-cart-shopping"></i>   Dodaj wydatek</a></li>
			<li><a href="#"><i class="fa-solid fa-scale-unbalanced-flip"></i>   Przeglądaj bilans</a></li>
			<li><a href="/profile/show"><i class="fa-solid fa-gear"></i>   Ustawienia</a></li>
			<li><a href="/logout"><i class="fa-sharp fa-solid fa-right-from-bracket"></i>   Wyloguj się</a></li>
		</ul>
	</nav>
	
	<main>
        <div id="container2">
						
            <form action="/expenses/new" method="post">
                <div id="wydatek">
                    <label>Kwota   <input type="number" name="amount" placeholder="0,0" step="0.01" min="0.01" required></label>
                </div>
                <div id="wydatek">
                    <label>Data   <input type="date" name="date_of_expense" required></label>
                </div>
                <div id="wydatek">
                    <fieldset>
                        
                        <legend> Sposób płatności </legend>
                    
                        <div><label><input type="radio" name="payment_method_assigned_to_user_id" value="Cash">Gotówka</label></div>
                        <div><label><input type="radio" name="payment_method_assigned_to_user_id" value="Debit Card" checked>Karta debetowa</label></div>
                        <div><label><input type="radio" name="payment_method_assigned_to_user_id" value="Credit Card">Karta kredytowa</label></div>
                        
                    </fieldset>
                </div>
                <div id="wydatek">
                    <label for="kategoria">Kategoria</label>
                    <select id="kategoria" name="expense_category_assigned_to_user_id">
                    
                        <option value="Transport">Transport</option>
                        <option value="Books">Książki</option>
                        <option value="Food">Jedzenie</option>
                        <option value="Apartments">Mieszkanie</option>
                        <option value="Telecommunication">Telekomunikacja</option>
                        <option value="Health">Zdrowie</option>
                        <option value="Clothes">Ubrania</option>
                        <option value="Hygiene">Higiena</option>
                        <option value="Kids">Dzieci</option>
                        <option value="Recreation">Rekreacja</option>
                        <option value="Trip">Wycieczka</option>
                        <option value="Savings" selected>Oszczędności</option>
                        <option value="For Retirement">Na złotą jesień, czyli emeryturę</option>
                        <option value="Debt Repayment">Spłata długów</option>
                        <option value="Gift">Darowizna</option>
                        <option value="Another">Inne wydatki</option>
                    
                    </select>
                </div>
                <div id="wydatek">
                    <div><label for="komentarz">Komentarz (opcjonalnie):</label></div>
                    <textarea name="expense_comment" id="komentarz" rows="4" cols="34"></textarea>
                </div>
                <div id="wydatekSubmit">
                    <button id="button1" type="submit">Dodaj</button>
                    <button id="button2"><a href="/home" id="button2anuluj">Anuluj</a></button>
                </div>
            </form>
    </div>
	</main>

    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}">
        {{ message.body }}
    </div>
    {% endfor %}

    <script
    src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js" integrity="sha512-6S5LYNn3ZJCIm0f9L6BCerqFlQ4f5MwNKq+EthDXabtaJvg3TuFLhpno9pcm+5Ynm6jdA9xfpQoMz2fcjVMk9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
